.intro-container {
    display: flex;
    flex-direction: column;
    /* width: 100vw; */
    height: 100vh;
    background-color: antiquewhite;
    padding: 20px;
    position: relative;
}

.intro-container h2 {
    position: absolute;
    bottom: 0;
}

.intro-wrapper p {
    margin-top: 10%;
    width: 80vw;
    font-size: 1.5em;
}