.intro-container {
    display: flex;
    flex-direction: column;
    /* width: 100vw; */
    background-color: antiquewhite;
    position: relative;
    padding: 20px;

}

.intro-container h2 {
    position: relative;
}

.intro-wrapper {
    position: relative;
    padding: 0 2%;
}

.intro-wrapper p {
    width: 80vw;
    font-size: 1.5em;
    line-height: 1.4em;
}

.intro-wrapper h3 {
    color: antiquewhite;
    background-color: black;
    padding: 20px;
    width: 80vw;
}
.skills-wrapper {
    display: flex;
    flex-direction: row;
    margin-top: 10vh;
}

.skills-group {
    flex-direction: column;
    width: 10vw;
    margin-right: 20vw;;
}

.category {
    font-size: 1.5em;
    text-decoration: underline;
}
.skills-wrapper p {
    font-size: 1em;
    margin: 0;
}

@media (min-width: 668px) {
    h3 {
        width: 50vw;
    }
}