.navbar {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    position: absolute;
    width: 100vw;
    height: 15vh;
    padding: 1%;
    top: 1%;

}

.link {
    color: black;
    margin: 20px;
}