.navbar {
    position: relative;
}
.nav-wrapper {
    display: none;
}

.scrollToTopHidden {
    display: none;
}

.scrollToTop {
    display: block;
    position: fixed;
    bottom: 2%;
    right: 2%;
    z-index: 2;
    width: 100px;
    background-color: transparent;
    border: solid black 3px;
    /* border: none;
    box-shadow: 2px 2px rgb(0, 0, 0); */
    font-family: "bebas-neue-pro", sans-serif;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1.5em;
    text-align: center;
    white-space: nowrap;
}

.scrollToTop:hover {
    background-color: black;
    color: antiquewhite;
}

.scrollToTop:active {
    background-color: black;
    color: antiquewhite;
}

@media (min-width: 668px) {
    .nav-wrapper {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        top: 10px;
        position: fixed;
        width: 100vw;
        height: 15vh;
        padding: 10px;
        z-index: 10;
    }
    
    .link {
        color: black;
        margin: 20px;
    }
}