.contact-container {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 100%;
}

.contact-container h2 {
    position: relative;
    margin: 0;
    grid-column: 1 / span 6;
}

.contact-wrapper {
    display: grid;
    grid-column: 1 / span 6;
}

/* .contact-element {
    border: solid black 0.5px;
    position: relative;
    transition: background-color 0.3s;
} */

.contact-boxes {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column: span 2;
    gap: 10px;
    width: 90vw;
  }

.contact-element {
    border: 1px solid black;
    transition: background-color 0.3s;
    position: relative;
    padding: 10px; /* Add padding to the boxes */
    height: 10vh;
}

.contact-element:hover {
    background-color: black;
    cursor: pointer;
}

.contact-element p {
    text-decoration: none;
    font-size: 1em;
    color: black;
    position: absolute;
    top: 0;
    margin: 10px;
    transition: color 0.3s;
    cursor: pointer;
}

.contact-element:hover p {
    color: white;
    cursor: pointer;
    pointer-events: auto;

}

.contact-element span {
    text-decoration: none;
    font-family: "FreightDisp", serif;
    font-size: 1em;
    font-style: italic;
    font-weight: 100;
    color: black;
    position: absolute;
    bottom: 0;
    margin: 10px;
    transition: color 0.3s;
    cursor: pointer;
}

.contact-element:hover span {
    color: white;
    cursor: pointer;
    pointer-events: auto;
}

.contact-form {
    width: 90vw;
    margin-top: 3%;
}

form {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    width: 80vw;
    color:antiquewhite;
    margin: 3%;
}

.contact-label {
    margin: 3% 0 1% 0;
    font-size: 1em;
}

.contact-input {
    border-bottom: solid black 1px;
    border-top: none;
    border-left: none;
    border-right: none;
    background-color: transparent;
    font-family: "FrightDisp", serif;
    font-size: 1.2em;
    margin-top: 10%;
}

.success {
    font-size: 2em;
    margin-top: 20px;
}

/* .button {
    width: 25%;
    padding: 2%;
    background-color: black;
    border-radius: 100px;
    font-family: "FreightDisp", serif;
    font-style: italic;
    color: antiquewhite;
    font-weight: 400;
    font-size: 1.5em;
    text-align: center;
    margin-top: 5%;
}

.button:hover {
    background-color: black;
    color: antiquewhite;
} */
@media (min-width: 668px) {
    .contact-wrapper {
        display: grid;
        grid-column: 1 / span 3;
    }
    .contact-boxes {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-column: span 4;
        gap: 20px;
        width: 70vw;
      }

    .contact-element {
        border: 1px solid black;
        transition: background-color 0.3s;
        position: relative;
        padding: 10px; /* Add padding to the boxes */
        height: 15vh;
    }
    .contact-element span {
        font-size: 100%;
    }
    .contact-form {
        width: 100%;
        margin-top: 3%;
    } 
    form {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        width: 50vw;
        font-family: "FreightDisp", serif;
        color:black;
    }
    .contact-label {
        font-size: 1.5em;
    }
}

@media (min-width: 992px) {
    .contact-form {
        width: 100%;
        margin-top: 0;
        grid-column: span 4;
    } 
    /* form {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        width: 100%;
        color:antiquewhite;
    } */
}