.contact-container {
    display: flex;
    flex-direction: column;
    background-color: antiquewhite;
    padding: 20px;
    position: relative;
    overflow: hidden;
}

/* .contact-container h2 {
    position: absolute;
    bottom: 0;
} */


.contact-container h2 {
    position: relative;
}

.contact-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.contact-boxes {
    display: grid;
    grid-template-columns: repeat(2, 2fr);
}
.contact-element {
    border: solid black 0.5px;
    width: 45vw;
    height: 200px;
    position: relative;
    transition: background-color 0.3s;
}

.contact-element:hover {
    background-color: black;
    cursor: pointer;
}

.contact-element p {
    text-decoration: none;
    font-size: 1em;
    color: black;
    position: absolute;
    top: 0;
    margin: 10px;
    transition: color 0.3s;
    cursor: pointer;
}

.contact-element:hover p {
    color: white;
    cursor: pointer;
    pointer-events: auto;

}

.contact-element span {
    text-decoration: none;
    font-size: 1.5em;
    color: black;
    position: absolute;
    bottom: 0;
    margin: 10px;
    transition: color 0.3s;
    cursor: pointer;
}

.contact-element:hover span {
    color: white;
    cursor: pointer;
    pointer-events: auto;
}

.contact-form {
    background-color: black;
    width: 90vw;
    margin-top: 3%;
}

form {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    width: 80vw;
    color:antiquewhite;
    margin: 3%;
}

.contact-label {
    margin: 3% 0 1% 0;
    font-size: 1.5em;
}

.contact-input {
    border: solid black 3px;
    padding: 2%;
}

.success {
    font-size: 2em;
    margin-top: 20px;
}

.contact-btn {
    width: 200px;
    background-color: antiquewhite;
    color: black;
    border-radius: 0;
    border: none;
    font-family: "bebas-neue-pro", sans-serif;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1.5em;
    text-align: center;
    margin-top: 5%;
}

.contact-btn:hover {
    background-color: black;
    color: antiquewhite;
}
@media (min-width: 668px) {
    .contact-container {
        display: flex;
        flex-direction: column;
        background-color: antiquewhite;
        padding: 20px;
        position: relative;
    }
    .contact-wrapper {
        display: flex;
        flex-direction: column;
        margin-top: 10%;
    }

    .contact-boxes { 
        display: grid;
        grid-template-columns: repeat(2, 2fr);
    }

    .contact-element {
        border: solid black 0.5px;
        width: 300px;
        height: 300px;
        position: relative;
        transition: background-color 0.3s;
    }
    .contact-element span {
        font-size: 2em;
    }
    .contact-form {
        background-color: black;
        width: 600px;
        margin-top: 3%;
    } 
    form {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        width: 500px;
        color:antiquewhite;
        margin: 3%;
    }
    .contact-label {
        font-size: 1.5em;
    }
}

@media (min-width: 992px) {
    .contact-container {
        align-items: flex-start;
        justify-content: flex-start;
    }
    .contact-wrapper {
        display: flex;
        flex-direction: row-reverse;
    }
    .contact-form {
        background-color: black;
        width: 50vw;
        height: 600px;
        margin-right: 5%;
        margin-top: 0;
    } 
    form {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        width: 40vw;
        color:antiquewhite;
    }
    .contact-btn {
        width: 15vw;
        font-size: 2em;
        padding: 1%;
    }
}