.start-wrapper {
    display: flex;
    flex-direction: row;
    height: 100vh;
    margin: 0;
}

.headline {
    font-size: 10rem;
    line-height: 0;
    text-transform: uppercase;
    font-weight: 600;
    position: absolute;
    bottom: 0;
    white-space: nowrap;
}

.headline-name {
    top: 20px;
}