body {
  margin: 0;
  font-family: "bebas-neue-pro", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h2 {
  font-size: 8rem;
  line-height: 0;
  text-transform: uppercase;
  font-weight: 600;
  white-space: nowrap;
}

.navigation {
  top: 10px;
  position: fixed;
  z-index: 1;
}

