body {
  margin: 0 auto;
  font-family: "bebas-neue-pro", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.content-container {
  /* position: relative; */
  overflow-x: hidden;
  overflow-y: hidden;
  background-color: antiquewhite;
  padding: 20px;
}

h2 {
  font-size: 5rem;
  line-height: 1em;
  text-transform: uppercase;
  font-weight: 600;
  position: absolute;
  bottom: 0;
  text-decoration: underline 5px;
  text-underline-offset: 8px;
}

h3 {
  font-family: "FreightDisp-Pro-semibold";
  font-size: 3rem;
  line-height: 1em;
}

p {
  font-family: "FreightDisp", serif;
}

.navigation {
  top: 10px;
  position: fixed;
  z-index: 1;
}

.button {
  width: 25vw;
  padding: 1%;
  background-color: black;
  border-radius: 100px;
  font-family: "FreightDisp", serif;
  font-style: italic;
  color: antiquewhite;
  font-weight: 400;
  font-size: 1.2em;
  text-align: center;
  margin-top: 4%;
}

.button:hover {
  background-color: antiquewhite;
  color: black;
}

@media (min-width: 668px) {
  h2 {
    font-size: 9rem;
    line-height: 1em;
    text-transform: uppercase;
    font-weight: 600;
  }
  .button {
    width: 10vw;
  }
}

@media (min-width: 992px) {
  h2 {
    font-size: 7rem;
  }
}

